node_modules/
artifacts/
cache/
.DS_Store
*.swp
*.txt

### START npm requirements ###
dist/

# typechain
src/types/@gnosis.pm
src/types/@openzeppelin
src/types/factories/@openzeppelin
src/types/factories/@gnosis.pm

### END npm requirements ###
