node_modules/
artifacts/
cache/
.DS_Store
*.swp
src/types/*.js
src/types/*.ts
*.txt

### START npm requirements ###
dist/

# abi exporter
abi/@openzeppelin
abi/@gnosis.pm
abi/contracts/mock

### END npm requirements ###
